{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block body %}
    <div class="favorites-container">
        <h1 class="favorites-title">Mes Favoris</h1>

        {% if favorites is empty %}
            <p class="text-gray-400 text-center">Aucun favori trouvé.</p>
        {% else %}
            <div class="favorites-grid">
                {% for favorite in favorites %}
                    <div class="favorite-item">
                        <a data-turbo="false" href="{{ path('youtube_get_id', {'handle': favorite.customUrl}) }}" 
                            class="favorite-link">
                            {{ favorite.customUrl }}
                        </a>
                        <p class="favorite-date">{{ favorite.createdAt | date('d-m-Y H:i') }}</p>

                        <button class="delete-button">Supprimer</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

